# Node modules
node_modules/

# Mac system files
.DS_Store

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel output
.vercel/

# Build output (if any)
dist/
build/

# Local env files
.env
.env.*
